# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
venv/
.venv/

# Environment files
.env

# VS Code
.vscode/

# Node modules
node_modules/

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar

# AI model files
*.pt

# Cache
.cache/